/* You can add global styles to this file, and also import other style files */
@import "./bootstrap-grid.scss"
@import "./variables.sass"

body
  padding: 0
  margin: 0
  font-family: 'Poppins', sans-serif
  color: $black
  font-size: 14px
  line-height: 24px
