/* You can add global styles to this file, and also import other style files */
@import "./bootstrap-grid.scss"
@import "./variables.sass"

body
  padding: 0
  margin: 0

  font-family: 'Poppins', sans-serif
  color: $black
  font-size: 14px
  line-height: 24px

  background-color: rgba(207, 216, 220, 0.2)

@mixin button-reset
  padding: 0

  border: none
  font: inherit
  color: inherit

  background-color: transparent
  cursor: pointer

@mixin no-outline
  outline: none
  background: transparent


.button
  @include button-reset
  @include no-outline
