<div class="search-page__wrapper" *ngIf="(this.authSandbox.getUserDataLoaded$ | async) && authSandbox.isAuthenticated()">
  <div class="row">
    <div class="col-lg-8">
      <form class="search" [formGroup]="searchForm" (onSubmit)="onSubmit()">
        <div class="search__wrapper">
          <label class="search__label">
            <span>Keyword:</span><br>
            <input class="input search__input" type="text" formControlName="keyword">
          </label>
          <label class="search__label" *ngIf="user.permission === 'root' || user.permission === 'admin'">
            <span>Show all names:</span><br>
            <input class="checkbox search__checkbox" type="checkbox" formControlName="showAllNames"
              (click)="triggerShowAllNames()">
          </label>
          <!-- <label class="search__label">
            <span>Limit:</span><br>
            <input class="input search__input search__input--limit" type="text" formControlName="limit">
          </label>
          <label class="search__label">
            <span>Offset:</span><br>
            <input class="input search__input search__input--offset" type="text" formControlName="offset">
          </label> -->
        </div>
        <div class="search__letters">
          <button *ngFor="let letter of LETTERS; let i = index" class="button search__button--letter" type="button"
            (click)="onSubmit(letter)">{{letter}}</button>
        </div>
        <div class="search__triggers">
          <button class="button search__button search__button--find" type="submit" [disabled]="!searchForm.valid"
            (click)="onSubmit()">Find</button>
          <button class="button search__button--result" type="button" (click)="addTodoToNewLabel()"
            [disabled]="!ALL_NAMES || ALL_NAMES.length === 0">Add all result to new label</button>
        </div>
      </form>

      <p *ngIf="namesSandbox.getAllNamesLoading$ | async">
        Loading...
      </p>

      <ng-container *ngIf="!(namesSandbox.getAllNamesLoading$ | async)">
        <ng-container *ngIf="ALL_NAMES">
          <div class="title">
            <span *ngIf="titleMode === 'find'">Found {{titleCount}} results with the query "{{titleKeyword}}"</span>
            <span *ngIf="titleMode === 'letter'">All results starting with the letter "{{titleKeyword}}"</span>
          </div>
          <table class="response__table">
            <thead class="response__head">
              <tr class="response__row">
                <th class="response__th">Nº</th>
                <th class="response__th response__th--name">Name</th>
                <th class="response__th">Quantity</th>
                <th class="response__th">Actions</th>
                <!-- <th class="response__th"></th> -->
              </tr>
            </thead>
            <tbody class="response__body">
              <tr
                *ngFor="let name of ALL_NAMES | paginate: { itemsPerPage: 10, currentPage: page, id: 'name'}; let i = index"
                class="response__row response__row--body">
                <td class="response__td">{{ (page*10) - 10 + (i+1) }}</td>
                <td class="response__td response__td--name">{{ name.name }}</td>
                <td class="response__td">{{ name.population }}</td>
                <td class="response__td">
                  <div class="response__td__container">
                    <ng-container
                      *ngIf="(user.permission === 'root' || user.permission === 'admin') && (BUTTON_STATUS[i].hideButtonStatus === true)">
                      <button class="button button-red" (click)="showName(name)">Show</button>
                    </ng-container>
                    <ng-container
                      *ngIf="(user.permission === 'root' || user.permission === 'admin') && (BUTTON_STATUS[i].hideButtonStatus === false)">
                      <button class="button button-green" (click)="hideName(name)">Hide</button>
                    </ng-container>
                    <ng-container *ngIf="BUTTON_STATUS[i].addButtonStatus === false">
                      <button class="button button-plus" (click)="addToNewLabel(name)">+</button>
                    </ng-container>
                    <ng-container *ngIf="BUTTON_STATUS[i].addButtonStatus === true">
                      <button class="button button-minus" (click)="deleteToNewLabel(name)">-</button>
                    </ng-container>
                  </div>
                </td>
                <!-- <td class="response__td">

                </td> -->
              </tr>
            </tbody>
          </table>
          <pagination-controls class="pagination" (pageChange)="page = $event" id="name"></pagination-controls>
        </ng-container>
      </ng-container>
    </div>
    <div class="col-lg-4">
      <div class="name-label" *ngIf="NEW_LABEL.length !== 0">
        <div class="name-label__head">
          <span>New Label</span>
        </div>
        <div class="name-label__wrapper">
          <ul class="name-label__list">
            <li
              *ngFor="let name of NEW_LABEL | paginate: { itemsPerPage: 10, currentPage: pageLabel, id: 'label'}; let i = index"
              class="name-label__item">
              <div class="name-label__item__wrapper">
                <button class="button button-minus" (click)="deleteToNewLabel(name)">-</button>
                <span class="name-label__item--name">{{ name.name }}</span>
              </div>
            </li>
          </ul>
          <pagination-controls class="pagination" (pageChange)="pageLabel = $event" id="label"></pagination-controls>
        </div>
      </div>
      <button class="button name-label__button" *ngIf="NEW_LABEL.length !== 0" (click)="
      modalFromCreateNamePlaceholder = 'New Label';
      MODE_CLEAN = 'no-clean';
      modal.open('modal-create-label');">Create new label</button>
      <button class="button name-label__button" *ngIf="NEW_LABEL.length !== 0"
        (click)="MODE_ADD = 'no-add'; modal.open('modal-added-label')">Clean</button>

    </div>
  </div>

  <!-- <ul [hidden]="namesSandbox.getAllNamesLoading$ | async">
    <li *ngFor="let name of ALL_NAMES">
      {{ name.name }}
    </li>
  </ul> -->

</div>

<sj-modal id="modal-create-label" class="modal">
  <div class="modal__head">
    <span>Create a label</span>
  </div>
  <div class="modal__wrapper">
    <form class="modal-form-create" [formGroup]="modalFormCreate" (onSubmit)="onSubmitModalCreateForm()">
      <label class="modal-form-create__name-label">
        <span>Enter a new title of the label:</span><br>
        <input class="input modal-form-create__name" type="text" formControlName="name"
          [placeholder]="modalFromCreateNamePlaceholder" required>
      </label>
    </form>
  </div>
  <div class="modal__triggers">
    <button class="button modal__button" type="submit" (click)="onSubmitModalCreateForm()">Create</button>
    <button class="button modal__button" type="button"
      (click)="MODE_CLEAN === 'clean' ? deleteTodoToNewLabel() : null; modal.close('modal-create-label')">Close</button>
  </div>
</sj-modal>

<sj-modal id="modal-added-label" class="modal">
  <div class="modal__head">
    <span>Opps!!</span>
  </div>
  <div class="modal__wrapper">
    <span>Are you sure you want to delete what you have already chosen?</span>
  </div>
  <div class="modal__triggers">
    <button class="button modal__button" type="button"
      (click)="modal.close('modal-added-label'); deleteTodoToNewLabel(); MODE_ADD === 'add' ? addTodoToNewLabel() : null">Yes</button>
    <button class="button modal__button" type="button" (click)="modal.close('modal-added-label')">No</button>
  </div>
</sj-modal>
