@import "../../variables.sass"

.search
  padding-top: 10px
  padding-bottom: 10px

.search__wrapper
  display: flex
  flex-wrap: wrap
  justify-content: center

.search__label
  &:not(:last-child)
    margin-right: 15px


.search__input
  &--limit,
  &--offset
    width: 55px

.search__button
  margin: 0 auto
  margin-top: 20px
