<div class="container">
  <h2>Поиск имен</h2>
  <form class="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label>
      <input class="search__input" type="text" formControlName="keyword" required>
    </label>
    <!-- <button type="submit" [disabled]="!searchForm.valid">Purchase</button> -->
  </form>

  <p *ngIf="namesSandbox.getAllNamesLoading$ | async">
    Loading...
  </p>
  <ul [hidden]="namesSandbox.getAllNamesLoading$ | async">
    <li *ngFor="let name of ALL_NAMES">
      {{ name.name }}
    </li>
  </ul>
</div>
