<div class="container">
  <h2>Поиск имен</h2>
  <form class="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="search__wrapper">
      <label class="search__label">
        <span>Keyword:</span><br>
        <input class="search__input" type="text" formControlName="keyword" required>
      </label>
      <label class="search__label">
        <span>Limit:</span><br>
        <input class="search__input search__input--limit" type="text" formControlName="limit">
      </label>
      <label class="search__label">
        <span>Offset:</span><br>
        <input class="search__input search__input--offset" type="text" formControlName="offset">
      </label>
    </div>
    <button class="button search__button" type="submit" [disabled]="!searchForm.valid">Find</button>
  </form>

  <p *ngIf="namesSandbox.getAllNamesLoading$ | async">
    Loading...
  </p>
  <ul [hidden]="namesSandbox.getAllNamesLoading$ | async">
    <li *ngFor="let name of ALL_NAMES">
      {{ name.name }}
    </li>
  </ul>
</div>
