<div class="container">
  <p>user-page works!</p>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label>
      <span>Keyword:</span>
      <input style="display: block;" type="text" formControlName="keyword" required>
    </label>
    <label>
      <span>Limit:</span>
      <input style="display: block;" type="text" formControlName="limit">
    </label>
    <label>
      <span>Offset:</span>
      <input style="display: block;" type="text" formControlName="offset">
    </label>
    <button type="submit" [disabled]="!searchForm.valid">Find</button>
  </form>

  <p *ngIf="namesSandbox.getAllNamesLoading$ | async">
    Loading...
  </p>
  <ul [hidden]="namesSandbox.getAllNamesLoading$ | async">
    <li *ngFor="let name of ALL_NAMES">
      {{ name.name }}
    </li>
  </ul>
</div>
