<header class="page-header">
  <div class="page-header__wrapper container">
    <h1 class="page-header__title"><a [routerLink]="['/home']">name_project</a></h1>
    <nav class="nav">
      <ul class="user__list" *ngIf="authSandbox.isAuthenticated(); else navList">
        <li class="user__item">
          <a [routerLink]="['/user']" class="user__link">Dashboard</a>
        </li>
        <li class="user__item">
          <button class="user__link button-reset" (click)="logOut()">Log out</button>
        </li>
      </ul>

      <ng-template #navList>
        <ul class="nav__list">
          <li class="nav__item">
            <a [routerLink]="['/login']" class="nav__link">Login</a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/register']" class="nav__link">Registration</a>
          </li>
        </ul>
      </ng-template>
    </nav>
  </div>

</header>

<main class="page-content container">
  <router-outlet></router-outlet>
</main>
