<div class="label-page" *ngIf="labelSandbox.getLabelByIdLoaded$ | async">
  <h2 class="label-page__title">{{ LABEL.name }}</h2>
  <div class="row label-page__wrapper">
    <div class="col-lg-8">
      <table class="response__table response__table">
        <thead class="response__head">
          <tr class="response__row">
            <th class="response__th">Nº</th>
            <th class="response__th response__th--name">Name</th>
            <th class="response__th">Action</th>
          </tr>
        </thead>
        <tbody class="response__body">
          <tr *ngFor="let name of LABEL.names | paginate: { itemsPerPage: 15, currentPage: page, id: 'name'}; let i = index"
            class="response__row response__row--body">
            <td class="response__td">{{ (page*15) - 15 + (i+1) }}</td>
            <td class="response__td response__td--name">{{ name.name }}</td>
            <td class="response__td"><button class="button button-minus" (click)="deleteNameOfLabel(name)">-</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="pagination" (pageChange)="page = $event" id="name"></pagination-controls>
    </div>
    <div class="col-lg-4 settings">
      <h2 class="settings__title">Settings</h2>
      <button class="button button-red settings-button settings-button--del" (click)="deleteLabel()">Delete Label</button>
      <button class="button" *ngIf="!LABEL.link" (click)="generateLink()">Generate Link</button>
      <form class="link-form" [formGroup]="linkForm" *ngIf="!!LABEL.link">
        <input class="input link-form__input" type="text" formControlName="link">
        <button class="button link-form__button" (click)="copyLink()">Copy Link</button>
        <button class="button link-form__button" (click)="openLink()">Open Link</button>
        <button class="button link-form__button" (click)="deleteLink()">Delete Link</button>
      </form>
    </div>
  </div>
</div>




