<div class="container">
  <h2>THIS IS REGISTER FORM</h2>
  <form class="register__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div *ngIf="message" class="validation">
      <p>{{message}}</p>
    </div>
    <label class="register__email-label">
      <span>Email:</span><br>
      <input class="input register__email" type="email" formControlName="email" required>
    </label>

    <div *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid" class="validation">
      <small *ngIf="registerForm.get('email').errors.required">Enter Email</small>
      <small *ngIf="registerForm.get('email').errors.email">Enter valid Email</small>
    </div>

    <label class="register__password-label">
      <span>Password:</span><br>
      <input class="input register__password" type="password" formControlName="password" required>
    </label>

    <div *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid" class="validation">
      <small *ngIf="registerForm.get('password').errors.required">Enter Password</small>
      <small *ngIf="registerForm.get('password').errors.minlength">Password must de at least
        {{registerForm.get('password').errors.minlength.requiredLength}} characters</small>
    </div>

    <button class="button register__button" type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
</div>
