@import "../../variables.sass"

.register__form
  display: flex
  flex-direction: column

.register__email-label,
.register__password-label
  margin-bottom: 12px

.register__email,
.register__password
  &:hover,
  &:focus
    border-color: $dark-primary-color

.register__button
  margin-top: 8px
