@import "../../variables.sass"

.home-page__wrapper
  margin-top: 20px
  margin-bottom: 20px

.block
    padding: 12px
    background-color: $white
    border: 1px solid $primary-color
    transition: 0.2s
    h2
        margin: 0
        margin-top: 10px
        margin-bottom: 10px
        font-size: 30px
        line-height: 38px

@media ( max-width: $mobile-width )
  .search-page__wrapper
    padding-bottom: 10px