@import "../../variables.sass"

.home-page__wrapper
    margin-top: 20px
    margin-bottom: 20px

.master-block
    height: 200px
    padding: 12px
    background-color: $white
    border: 1px solid $primary-color
    transition: 0.2s
    &:hover
        cursor: pointer
        border: 1px solid $white
        -webkit-box-shadow: 0px 0px 0px 8px $primary-color
        -moz-box-shadow: 0px 0px 0px 8px $primary-color
        box-shadow: 0px 0px 0px 8px $primary-color
    h2
        margin: 0
        font-size: 30px
        line-height: 38px