<div class="home-page__wrapper">
  <div class="row">
    <div class="col">
      <div class="block">
        <h2>Release v1.1</h2>
      </div>
    </div>
  </div>
</div>

<div class="home-page__wrapper" *ngIf="!authSandbox.isAuthenticated()">
  <div class="row">
    <div class="col">
      <div class="block">
        <h2>Log in to acces the search</h2>
        <p>If you're not registered or have forgotten your account password, write to this <a
            href="mailto:levkulakov2000@gmail.com">email</a>.</p>
      </div>
    </div>
  </div>
</div>
