@import "../../variables.sass"

.login__form
  display: flex
  flex-direction: column

.login__email-label,
.login__password-label
  margin-bottom: 12px

.login__email,
.login__password
  &:hover,
  &:focus
    border-color: $dark-primary-color

.login__button
  margin-top: 8px

@media ( max-width: $mobile-width )
  .login__button
    margin: 0 auto
