<div class="row" *ngIf="this.authSandbox.getUserDataLoaded$ | async">
    <div class="col-lg">
        <div class="labels" *ngIf="this.labelSandbox.getAllLabelsLoaded$ | async">
            <ul class="labels__list">
                <li *ngFor="let label of LABELS | paginate: { itemsPerPage: 10, currentPage: pageLabels, id: 'labels'}; let i = index" class="labels__item">
                    <div class="label">
                        <div class="label__head">
                            <span>{{ label.name }}</span>
                        </div>
                        <div class="label__wrapper">
                            <ul class="label__list">
                                <li class="label__item" *ngFor="let name of label.names | slice:0:5; let x = index">
                                    <ng-container *ngIf="x !== 4">
                                        <span>{{ name.name }}, </span>
                                    </ng-container>
                                    <ng-container *ngIf="x === 4">
                                        <span>{{ name.name }}</span>
                                    </ng-container>
                                </li>
                                <ng-container *ngIf="label.names.length === 0">
                                    <span>There are no elements</span>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <pagination-controls class="pagination" (pageChange)="pageLabels = $event" id="labels"></pagination-controls>
    </div>
    <div class="col-lg" *ngIf="user.permission === 'root'">
        <div class="users">
            <div class="users__head">
                <span>Users</span>
            </div>
            <div class="users__triggers">
                <button class="button" (click)="getAllUsers()">Update</button>
            </div>
            <div class="users__wrapper" *ngIf="this.authSandbox.getAllUsersLoaded$ | async">
                <ul class="users__list">
                    <li *ngFor="let user of USERS | paginate: { itemsPerPage: 5, currentPage: pageUsers, id: 'users'}; let i = index" class="users__item">
                        <div class="users__item__wrapper">
                            <span class="users__item--name">{{ user.email }}</span>
                            <select class="select" name="select-user" (change)="changeSelect($event, user)">
                                <option value="user" [selected]="STATUS[i].permission === 'user'">user</option>
                                <option value="admin" [selected]="STATUS[i].permission === 'admin'">admin</option>
                                <option value="root" [selected]="STATUS[i].permission === 'root'">root</option>
                            </select>
                            <button class="button button-red">Delete</button>
                        </div>
                    </li>
                </ul>
                <pagination-controls class="pagination" (pageChange)="pageUsers = $event" id="users"></pagination-controls>
            </div>
        </div>
    </div>
</div>
