@import "../../variables.sass"

.labels
    &__list
        list-style-type: none
        margin: 0
        padding: 0

.label
    margin-top: 10px
    border: 2px solid #455A64
    cursor: pointer

    &__head
        background-color: #607D8B
        color: #CFD8DC
        font-weight: bold
        font-size: 20px
        padding: 12.5px

    &__wrapper
        padding: 12.5px
        background-color: #ffffff

    &__list
        list-style-type: none
        margin: 0
        padding: 0

    &__item
        display: inline
        // padding-right: 10px

.users
    margin-top: 10px
    border: 2px solid #455A64
    &__head
        background-color: $primary-color
        color: $light-primary-color
        font-weight: bold
        font-size: 20px
        padding: 12.5px

    &__triggers
        padding: 12.5px
        background-color: $white

        .button
            width: auto

    &__wrapper
        background-color: $white

        .pagination::ng-deep .ngx-pagination
            padding: 20px 0
            margin: 0

    &__list
        margin: 0
        padding: 0
        list-style-type: none

    &__item
        background-color: $white
        padding: 12.5px
        border-top: 1px solid #BDBDBD
        &:first-child
            border: 0

        &__wrapper
            display: flex
            flex-wrap: wrap
            justify-content: flex-end

        &--name
            display: block
            height: max-content
            margin: auto
            margin-left: 0

        .select,
        .button
            width: auto
            margin-left: 12.5px
            &:first-child
                margin-left: 0

.pagination::ng-deep .ngx-pagination
  padding: 0

  text-align: center

.pagination::ng-deep li
  cursor: pointer
  border: 1px solid transparent

  &.current
    background-color: $primary-color

.pagination::ng-deep .ngx-pagination a
  color: $black
  border: 1px solid transparent

  &:hover,
  &:focus
    outline: none
    background-color: transparent
    border: 1px solid $dark-primary-color

  &:active
    opacity: .5

@media ( max-width: $less-desktop-width )
  .users
    margin-bottom: 15px


.modal::ng-deep
  .modal
    animation: none

    .modal-body
      border-radius: 0
      padding: 0
      // border: 2px solid $dark-primary-color

      .modal__head
        background-color: $primary-color
        color: #CFD8DC
        font-weight: bold
        font-size: 20px
        padding: 12.5px

      .modal__wrapper
        padding: 12.5px

      .modal__triggers
        border-top: 1px solid $border-color
        padding: 12.5px
        display: flex

      .modal__button
        margin-right: 12.5px

        &:last-child
          margin-right: 0
